.content {
  height: 100%;
}
li {
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #01AAED;
  border-radius: 5px;
  margin: 5px 0;
  overflow: hidden;
}
li > div {
  float: left;
  box-sizing: border-box;
}
.item-state {
  width: 30%;
  height: 100%;
  color: #fff;
  background-color: #2A91D8;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}
.item-content {
  width: 70%;
  color: #666;
  padding-left: 4px;
}
.item-content h3 {
  font-weight: 400;
  overflow: hidden;
  height: 29px;
}
.item-content p {
  font-size: 14px;
  height: 22px;
  overflow: hidden;
}
.item-content span {
  font-size: 12px;
  color: #00BE67;
}
.item-content i {
  position: relative;
  z-index:999;
  font-size: 12px;
  font-style: normal;
  color: #fff;
  background-color: #2A91D8;
  padding: 0 2px;
  margin: 0 0 10px 20px;
  display: inline-block;
}
